$dg: #333;
$b: #000;
$w: #fff;
$r: #ff0000;
$lg: #cccccc;

$orange: #ed532e;
$red: #792206;
$baise: #ecebd7;
$dpurple: #5d0d3e;
$lpurple: #b21f79;
$dblue: #005b6a ;
$lblue: #3ca7b9 ;
$dgreen:#006d35 ;
$lgreen:#22bd6d ;
$yellow: #9e8600;
$dyellow: #5a4c00;

