article(class="intStuff eat")  
	h2(class="title") As the adult in charge, you play a big role in sending positive messages to your kids about physical activity and eating healthy. When it comes to being a healthy eating role model for your kids, we recommend these simple steps: 
	section(class="row steps")
		div(class="col-lg-4 col-md-4 col-sm-4")
			header
				img(src="assets/img/SNAP-ICONS_02.jpeg")
				h3 Try new healthy foods 
			article Your kids learn their eating habits from watching you. So let them see you eat more fruits and veggies&mdash;and they will too!
		
		div(class="col-lg-4 col-md-4 col-sm-4") 
			header
				img(src="assets/img/SNAP-ICONS_07.png")
				h3 Stay positive
			article When talking to your kids about healthy eating, remember to stay positive. Don't talk about dieting or losing weight. Instead, talk about how great exercise and eating well makes you feel.
		
		div(class="col-lg-4 col-md-4 col-sm-4")  
			header
				img(src="assets/img/SNAP-ICONS_04.png")
				h3 Make time for family meals
			article Regular family meals are a great opportunity to spend time with your family. Set up regular meal times as much as possible. Make it a happy time by talking to your kids about their day and learning about new foods. 


	hr
 
	div(class="row links")
		div(class="col-lg-12") 
			h2 Check out these links for information on making the most of meal time: 
			ul(class="lur")
				li
					a(href="https://www.foodhero.org/tips/picky-eaters" target="_blank") Get tips for dealing with picky eaters 
				li
					a(href="https://www.foodhero.org/recipes/recipe-categories/kid-approved" target="_blank")	 Find kid-approved recipes 
				li
					a(href="https://extension.tennessee.edu/publications/Documents/SP732.pdf" target="_blank") Eat Smart: Cooking Basics (PDF)
				li
					a(href="assets/pdf/VTAHS6713_Portion PDF.pdf" target="_blank") Learn more about serving sizes and portions (PDF)	  