article(class="intStuff prep")  
	h2(class="title") Remember, veggies taste the best when they're cooked for the right amount of time&mdash;not too crunchy and not too soft. Also, fruits are the easiest to eat when prepared in bite-size and simple ways. 
	h1(class="titleSmall")   Here are some quick tips for getting your family  <span class="green">to eat more fruits and veggies:</span> 
	
	section(class="steps")
		div(class="row center")
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep1__01.png")
				h2 Fast Fruit
				p Wash grapes and place in individual baggies or small containers in the fridge for quick, grab-and-go snacks.	
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep1__03.png")
				h2 	Veggies On-The-Go
				p Cut up a bunch of raw veggies (peppers, carrots, or broccoli) and keep them in the fridge for quick snacks&mdash;or put them out in a bowl when kids come home from school. 
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep1__05.png")
				h2	For The Sweet Tooth
				p Serve fruit (sliced melon or strawberries) for a sweet and healthy dessert.	
						
		div(class="row center")
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep2__01.png")
				h2 Spice It Up
				p Get creative with healthy seasonings&mdash;like basil, thyme, and oregano&mdash;to make veggies tasty without adding salt or fats. 
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep2__03.png")
				h2	Add A Side Of Veggies
				p Steam fresh or frozen vegetables as a quick side dish to your dinner. Just put veggies in a bowl, add a small amount of water, and microwave for a few minutes.		
			div(class="col-lg-4 col-md-4 col-sm-4")
				img(src="assets/img/prep2__05.png")
				h2	Stir Things Up
				p Use up leftover veggies at the end of each week in a Stir-Fry.	

		
	
		

	h1(class="titleSmall") Veggie Cooking <span class="green">Cheat Sheet</span> 
	section(id="cheet" class='hidden-xs hidden-sm')
		div(class="row header")
			div(class="col-lg-6 col-md-6")
				h2 Vegetable
			div(class="col-lg-2 col-md-2")
				h2 Stir-Fry
			div(class="col-lg-2 col-md-2")
				h2 Steamed
			div(class="col-lg-2 col-md-2")
				h2 Microwave
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__01.png"  height="100")
				div(class="col-lg-7 col-md-7 content")	
					div <strong>Broccoli</strong> <br> (cut into florets)
			div(class="col-lg-2 col-md-2 content") 
				div 3-4 minutes
			div(class="col-lg-2 col-md-2 content") 
				div 5-6 minutes
			div(class="col-lg-2 col-md-2 content") 
				div 2-3 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__02.png"  height="100")
				div(class="col-lg-7 col-md-7 content")
					div <strong>Carrots</strong> <br> (sliced)
			div(class="col-lg-2 col-md-2 content") 3-4 minutes
			div(class="col-lg-2 col-md-2 content") 4-5 minutes
			div(class="col-lg-2 col-md-2 content") 4-5 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6" )
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__03.png"  height="100")
				div(class="col-lg-7 col-md-7 content") <strong>Corn</strong> <br> (on the cob)
			div(class="col-lg-2 col-md-2 content") not recommended
			div(class="col-lg-2 col-md-2 content") 4-7 minutes
			div(class="col-lg-2 col-md-2 content") 1-2 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__04.png"  height="100")
				div(class="col-lg-7 col-md-7 content") <strong>Zucchini</strong> <br> (sliced)
			div(class="col-lg-2 col-md-2 content") 3-4 minutes
			div(class="col-lg-2 col-md-2 content") 4-6 minutes
			div(class="col-lg-2 col-md-2 content") 2-3 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__05.png"  height="100")
				div(class="col-lg-7 col-md-7 content") <strong>Peas</strong> <br> (shelled)
			div(class="col-lg-2 col-md-2  content") 2-3 minutes
			div(class="col-lg-2 col-md-2 content") 4-5 minutes
			div(class="col-lg-2 col-md-2 content") 2-3 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__06.png"  height="100")
				div(class="col-lg-7 col-md-7 content")<strong>Green Beans</strong> <br> (chopped or whole)
			div(class="col-lg-2 col-md-2 content") 3-4 minutes
			div(class="col-lg-2 col-md-2 content") 5-8 minutes
			div(class="col-lg-2 col-md-2 content") 3-4 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-6")
					img(src="assets/img/prep3__07.png"  height="100")
				div(class="col-lg-7 col-md-6 content")<strong>Spinach</strong>  <br> (chopped or whole)
			div(class="col-lg-2 col-md-2 content") 3 minutes
			div(class="col-lg-2 col-md-2 content") 5-6 minutes
			div(class="col-lg-2 col-md-2 content") 1-2 minutes
		div(class="row")	
			div(class="col-lg-6 col-md-6")
				div(class="image col-lg-5 col-md-5")
					img(src="assets/img/prep3__08.png"  height="100")
				div(class="col-lg-7 col-md-7 content") <strong>Potatoes</strong>  <br> (cut into chunks)
			div(class="col-lg-2 col-md-2 content") not recommended
			div(class="col-lg-2 col-md-2 content") 10-12 minutes
			div(class="col-lg-2 col-md-2 content") 6-8 minutes
	


	section(id="cheet" class='visible-xs visible-sm')
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__01.png")
				h3 <strong>Broccoli</strong> <br> (cut into florets)
				div <strong>Stir-Fry</strong> 3-4 minutes
				div <strong>Steamed</strong> 5-6 minutes
				div <strong>Microwave</strong> 2-3 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__02.png" )
				h3 <strong>Carrots</strong> <br> (sliced)
				div <strong>Stir-Fry</strong> 3-4 minutes
				div <strong>Steamed</strong> 4-5 minutes
				div <strong>Microwave</strong> 4-5 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__03.png")
				h3 <strong>Corn</strong> <br> (on the Cob)
				div <strong>Stir-Fry</strong> not recommended
				div <strong>Steamed</strong> 4-7 minutes
				div <strong>Microwave</strong> 1-2 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__04.png")
				h3 <strong>Zucchini</strong> <br> (sliced)
				div <strong>Stir-Fry</strong> 3-4 minutes
				div <strong>Steamed</strong> 4-6 minutes
				div <strong>Microwave</strong> 2-3 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__05.png" )
				h3 <strong>Peas</strong> <br> (shelled)
				div <strong>Stir-Fry</strong> 2-3 minutes
				div <strong>Steamed</strong> 4-5 minutes
				div <strong>Microwave</strong> 2-3 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__06.png" )
				h3 <strong>Green Beans</strong> <br> (chopped or whole)
				div <strong>Stir-Fry</strong> 3-4 minutes
				div <strong>Steamed</strong> 5-8 minutes
				div <strong>Microwave</strong> 3-4 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__07.png" )
				h3 <strong>Spinach</strong>  <br> (chopped or whole)
				div <strong>Stir-Fry</strong> 3 minutes
				div <strong>Steamed</strong> 5-6 minutes
				div <strong>Microwave</strong> 1-2 minutes
		div(class="row")	
			div(class="col-xs-12")
				header
					img(src="assets/img/prep3__08.png"  )
				h3 <strong>Potatoes</strong>  <br> (cut into chunks)
				div <strong>Stir-Fry</strong> not recommended
				div <strong>Steamed</strong> 10-12 minutes
				div <strong>Microwave</strong> 6-8 minutes
	


	div(class="row links")
		div(class="col-lg-12") 
			h2 These links provide more information on portion sizing and the amount you should eat from each of the food groups: 
			ul(class="lur")
				li
					a(href="https://foodhero.org/sites/foodhero.org/files/resources/HO-SmartSizePortions.pdf" target="_blank") Food Hero: Smart Size Portions (PDF)
				li
					a(href="http://www.choosemyplate.gov/" target="_blank") ChooseMyPlate.gov







			