article(class="intStuff start")  
	h2(class="title") The first step to eating healthy is to learn what healthy looks like. 
	h1(class="titleSmall") <img src="assets/img/start-3.png"> THINGS TO KEEP IN MIND <span class="orange">FOR HEALTHIER EATING</span>
	section(class="row steps")
		div(class="col-lg-4  col-md-4 col-sm-4")
			header
				img(src="assets/img/start_headers1.png" alt="Simple")
			article Look for food with no added ingredients&mdash;like fresh fruits and vegetables&mdash;from the produce section or your local farmers' market. Avoid foods with a long list of ingredients, which often include extra fats, sugars, and salts.
		
		div(class="col-lg-4  col-md-4 col-sm-4") 
			header 
				img(src="assets/img/start_headers2.png" alt="Low")
			article When choosing foods, you'll want to keep the concept of "low" in mind. For soups and canned beans and vegetables, look for options labeled low or reduced sodium. When looking at recipes, skip the ones that add a lot of butter, cheese, salt, or sugar. And make sure not to add fat, salt, or sugar to your foods at the table!
		
		div(class="col-lg-4  col-md-4 col-sm-4")  
			header
				img(src="assets/img/start_headers3.png" alt="Color")
			article The more different colors you choose in your fruits and veggies, the more vitamins and nutrients you get.

	hr(class="hidden-sm hidden-xs")

	div(class="row links")
		div(class="col-lg-12") 
			h2 Bookmark these sites to learn more about what healthy looks like:
			ul(class="lur") 
				li
					a(href="http://www.fruitsandveggiesmorematters.org" target="_blank") www.fruitsandveggiesmorematters.org
				li
					a(href="http://www.choosemyplate.gov" target="_blank")	 ChooseMyPlate.gov

