article(class="intStuff store")  
	h2(class="title") Once you get your healthy food home, it's time to store it and prepare it so your family can enjoy tasty&mdash;and healthy&mdash;meals and snacks. 
	h1(class="titleSmall")   HOW TO STORE YOUR <span class="blue">FRUITS AND VEGGIES</span>
	section(class="steps")
		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store1_03.png" alt="apple" )
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Apple
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	unwrapped
						p <strong>time</strong>	3 weeks		

			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store_01.png" alt="onion")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Onion
					article
						p <strong>WHERE</strong> dark pantry	
						p <strong>HOW</strong>	unwrapped
						p <strong>time</strong>	1-2 months	

			

		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store1_05.png" alt="banana")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Banana
					article
						p <strong>WHERE</strong> countertop	
						p <strong>HOW</strong>	unwrapped
						p <strong>time</strong>	3 days once ripe	

			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/new/broccoli.jpg" alt="broccoli" class="new")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Broccoli
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	wrapped in plastic
						p <strong>time</strong>	5 days	



		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store1_07.png" alt="tomatoes")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Tomatoes
					article
						p <strong>WHERE</strong> countertop	
						p <strong>HOW</strong>	unwrapped
						p <strong>time</strong>	5 days


			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/new/carrots.jpg" alt="carrots"  class="new")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Carrots
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	plastic bag
						p <strong>time</strong>	3 weeks
		

		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store1_10.png" alt="grapes")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Grapes
					article
						p <strong>WHERE</strong> refrigerator drawer		
						p <strong>HOW</strong>	perforated plastic bag
						p <strong>time</strong>	1-2 weeks

			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/new/celery.jpg" alt="Celery"  class="new")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Celery
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	wrapped in foil
						p <strong>time</strong>	2 weeks					
			
		
		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/new/berries.jpg" alt="berries"  class="new")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Berries
					article
						p <strong>WHERE</strong> refrigerator drawer		
						p <strong>HOW</strong>	uncovered, vented container
						p <strong>time</strong>	 3-5 days		
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/new/lettuce.jpg" alt="head of lettuce"  class="new")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Lettuce
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	plastic bag with dry paper towel
						p <strong>time</strong>	5 days	
		
		div(class="row")
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store1_14.png" alt="cucumber")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Cucumber
					article
						p <strong>WHERE</strong> refrigerator drawer	
						p <strong>HOW</strong>	wrapped in plastic
						p <strong>time</strong>	1 week		
			div(class="col-lg-6 col-md-6 col-sm-12")
				div(class="col-lg-4 col-md-4 col-sm-4")
					img(src="assets/img/store_12.png" alt="potatoes")
				div(class="col-lg-8 col-md-8 col-sm-8")
					header
						h3 Potatoes
					article
						p <strong>WHERE</strong> dark pantry	
						p <strong>HOW</strong>	paper bag
						p <strong>time</strong>	1-2 months
					
	hr

	div(class="row links")
		div(class="col-lg-12")
			h2 Download this resource for more on storing and getting the most out of your fruits and veggies: 
			ul(class="lur")
				li
					a(href="http://www.fruitsandveggiesmorematters.org/wp-content/uploads/UserFiles/File/pdf/why/Storing_Fruits_Veggies_FINAL.pdf" target="_blank") Storing Fresh Fruits and Vegetables for Best Flavor (PDF) 
				