section(id="footer" class="row")
	footer(class="col-lg-12")
		div(class="container")
			div(class="col-lg-6")
				a(href="#" class="vdh")
					a(href="")
						img(src="assets/img/vdhlogo.png")
			div(class="col-lg-6") 
				p(style="padding-top:22px; font-size:12px;") This website was funded by the USDA SNAP program, which is called 3SquaresVT in Vermont. USDA is an equal opportunity provider and employer. To learn how 3SquaresVT can help low-income people buy more healthy food, go to <a href="http://dcf.vermont.gov/esd" target="_blank"> http://dcf.vermont.gov/esd</a> or call Vermont 2-1-1. <br> &copy;2015


script(src="assets/scripts/plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js" type="text/javascript")	

script(src="assets/scripts/plugins/accordian/jquery.accordion.js" type="text/javascript")	
	
script(src="assets/scripts/main.js" type="text/javascript")	
