section(id="nav" class="row")
	header(class="navbar navbar-default")
		div(class="container")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")	
			nav(class="col-xs-12 collapse navbar-collapse navbar-right" id="navigation")
				ul(class="nav navbar-nav cc")
					li(data-id="#start")
						a(href="?location=1#start") Start
					li(data-id="#shop")
						a(href="?location=2#shop") Shop
					li(data-id="#store")
						a(href="?location=3#store") Store
					li(data-id="#prep")
						a(href="?location=4#prep") Prep 
					li(data-id="#eat")
						a(href="?location=5#eat") Eat
					li(data-id="#resources")
						a(href="?location=6#resources") Resources		
section(id="header" class="row")
	header(class="col-lg-12")
		div(class="container")
			div(class="heading col-lg-5 col-md-5")
				img(src="assets/img/food.png")
			div(class="heading col-lg-7 col-md-7 ")
				h1 Show Your Kids The Way,&nbsp;
					span(class="red") Eat Fruits and Veggies Every Day
				p Your kids learn from watching you, so set a good example by eating fruits and veggies. It's easier than you think!  
