html
	head
		title Snap Landing Page
		script(src="//localhost:35729/livereload.js")
		- include("assets/php/includes/scripts.php");
	body
		- include("assets/php/includes/header.php");
		- include("assets/php/includes/content.php");
		- include("assets/php/includes/footer.php");